* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
} 

.home, .projects, .about, .contact {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.projects {
  background-image: url('./images/software.jpg');
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat;
  color: #fff; 
  font-size: 50px;
}

.about {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 50px;
}

.contact {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 50px;
}

.list-group-contact {
  position: absolute;
  bottom: 180px;
  width: 100%;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.list-group-about {
  position: relative;
  padding: 30px;
  width: 100%;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.list-group-item {
  width: 300px;
}

/* .heather {
  max-width: 300px;
  max-height: 300px;
  padding: 30px;
  position: relative;
  z-index: 1
} */

.about-header {
  padding: 32px;
}

/* .heather-p {
  font-family: 'Caveat', cursive;
  margin: 32px;
  background: black; */
/* } */